@use "../variables";

.dropdown {
  position: relative;
  &__header {
    justify-content: space-between;
    padding: 0 12px;
    border: 1px solid variables.$lightBlue;
    cursor: pointer;
  }
  &__list {
    position: absolute;
    top: 10px;
    left: 0;
    overflow-y: auto;
  }
  &__item {
    border-bottom: 1px solid variables.$lightBlue;
    &:last-child {
      border-bottom: none;
    }
  }
  &__btn {
    border-radius: 0;
    display: flex;
    padding: 0 12px;
    justify-content: space-between;
  }
}