@use "../variables";

.dropdown {
  &__header {
    justify-content: space-between;
    padding: 0 12px;
    border: 1px solid variables.$lightBlue;
    cursor: pointer;
  }
  &__title {
  }
  &__icon {

  }
  &__item {
    border-bottom: 1px solid variables.$lightBlue;
    &:last-child {
      border-bottom: none;
    }
  }
  &__btn {
    border-radius: 0;
    display: flex;
    padding: 0 12px;
    justify-content: flex-start;
  }
}