@use "../variables";

.sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: variables.$black;

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 26px 5px 16px;
    height: 56px;
    background-color: variables.$payneGray;

    & > h2 {
      font-size: 17px;
      line-height: 20px;
      color: variables.$white;
      margin-left: 12px;
    }
  }

  &__menu {
    padding: 16px;

    .menu {
      &__item {
        cursor: pointer;

        & > div {
          width: 100%;
          & > .item-parent {
            padding: 15px 11px;
            display: flex;
            align-items: center;

            & > a {
              margin-left: 19px;
              font-size: 17px;
              line-height: 20px;
              color: variables.$darkGrayBlue;
            }

            &:hover {
              background-color: variables.$payneGray;
              border-radius: 8px;
              & + .item-child {
                div > a {
                  color: variables.$white;
                }
              }
              & > a {
                color: variables.$white;
              }
              svg {
                & > path {
                  fill: variables.$white;
                }
              }
            }
          }
          & > .item-child {
            & > div {
              padding: 15px 11px;
              display: flex;
              align-items: center;
              & > a {
                margin-left: 37px;
                font-size: 17px;
                line-height: 20px;
                color: variables.$darkGrayBlue;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1220px) {
  .sidebar {
    .sidebar__menu .menu__item > div > .item-parent {
      padding: 15px 5px;
    }
    .sidebar__menu .menu__item > div > .item-child > div {
      padding: 15px 5px;
    }
    .sidebar__menu .menu__item > div > .item-child > div > h2 {
      font-size: 14px;
      margin-left: 28px;
    }
    .sidebar__menu .menu__item > div > .item-parent > h2 {
      font-size: 14px;
      margin-left: 10px;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .sidebar {
      position: absolute;
      transform: translateX(-100%);
      transition: .5s;
    &-open {
      transform: translateX(0);
    }
  }
}
