@use "../variables";

.company-register {
  &__title {
    font-weight: 900;
    font-size: 42px;
    line-height: 150%;
  }
  &__description {
    font-size: 17px;
    line-height: 150%;
    margin-top: 20px;
  }

  &__filters {
    padding: 24px 0;
    margin-top: 8px;
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 218px 217px 209px 218px 218px;
    gap: 12px;
    & > div > .title {
      font-weight: 500;
      color: variables.$raven;
      margin-bottom: 8px;
    }
    & > .search {
      display: flex;
      align-items: flex-end;
    }
  }

  &__result {
    & > h3 {
      font-size: 17px;
      line-height: 150%;
      margin-top: 23px;
      color: variables.$pantone;
    }
    & > .card {
      .card__item {
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1520px) {
  .company-register {
    &__filters {
      grid-template-columns: 218px 218px 218px 218px;
    }
  }
}

@media only screen and (max-width: 1220px) {
  .company-register {
    &__filters {
      grid-template-columns: 218px 218px 218px;
    }
  }
}