@use "../variables";

.company-register {
  &__title {
    font-weight: 900;
    font-size: 42px;
    line-height: 150%;
  }

  &__description {
    font-size: 17px;
    line-height: 150%;
    margin-top: 20px;
  }

  &__filters {
    padding: 24px 0;
    margin-top: 8px;
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 218px 217px 209px 218px 218px;
    gap: 12px;

    & > div > .title {
      font-weight: 500;
      color: variables.$raven;
      margin-bottom: 8px;
    }

    & > .search {
      display: flex;
      align-items: flex-end;
    }
  }

  .divider {
    margin-left: -25px;
    margin-right: -25px;
  }

  &__result {
    & > h3 {
      font-size: 17px;
      line-height: 150%;
      margin-top: 23px;
      color: variables.$pantone;
    }

    & > .card {
      width: 656px;
      .card__item {
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1520px) {
  .company-register {
    &__filters {
      grid-template-columns: 218px 218px 218px 218px;
    }
  }
}

@media only screen and (max-width: 1220px) {
  .company-register {
    &__filters {
      grid-template-columns: 218px 218px 218px;
    }
  }
}


@media only screen and (max-width: 767px) {
  .company-register {
    &__filters {
      grid-template-columns: 218px 218px;
    }
    &__result {
      .card {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 524px) {
  .company-register {
    .divider {
      margin-left: -10px;
      margin-right: -10px;
    }
  }
}

@media only screen and (max-width: 474px) {
  .company-register {
    &__filters {
      grid-template-columns: 100%;
    }
  }
}

@media only screen and (max-width: 374px) {
  .company-register {
    &__title{
      font-size: 34px;
    }
    &__description {
      font-size: 15px;
    }
    &__filters {
      grid-template-columns: 100%;
    }
    &__result > .card > .card__item {
      .card__header {
        .card__title {
          font-size: 16px;
        }
      }
      .card__body {
        .content {
          .content__item > p {
            font-size: 15px;
          }
        }
      }
    }
  }
}