@use "../variables";

.basket {
  &__title {
    font-weight: 900;
    font-size: 42px;
    line-height: 150%;
  }

  &__card {
    margin-top: 28px;
    background-color: variables.$white;
    overflow-x: scroll;
  }

  &__table {
    padding: 16px;
    min-width: 721px;

    .head {
      text-transform: uppercase;
      font-weight: 900;
      padding: 16px 0;
    }

    .column {
      font-weight: 500;
      padding: 16px 0;
      border-top: 1px solid variables.$patternBlue;
    }

    .name {
      width: 100%;
      display: flex;
      align-items: center;

      .icon {
        margin-left: 14px;
        cursor: pointer;
      }
    }

    .price {
      width: 33.3%;
      text-align: center;
    }

    .quantity {
      text-align: center;
      width: 33.3%;
    }
  }

  &__btn {
    margin-top: 20px;
  }
}