@use "../variables";

.textarea {
  border: 1px solid variables.$patternBlue;
  overflow: auto;
  outline: none;
  box-shadow: none;
  resize: none;
  padding: 14px;
  font-weight: 400;
  &::placeholder {
    color: variables.$lightBlue;
  }
}