@use "../variables";

.tabs {
  &__list {
    display: flex;
  }
}

.tab {
  &__item {
    margin-left: 24px;
    cursor: pointer;
    padding: 18px 0;
    &:first-child {
      margin-left: 0;
    }
    &.active {
      .tab__link {
        color: variables.$blue;
      }
      border-bottom: 4px solid variables.$blue;
    }
  }
  &__link {
    font-weight: 900;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    color: variables.$manatee;
  }
}

.tab-pane {

}

.tab-content {

}