$blue: #005BD1;
$green: #02C386;
$greenSuccess: #068948;
$zircon: #DFE4E5;
$payneGray: #393A42;
$black: #25262D;
$white: #FFFFFF;
$regentGray: #8F97A1;
$rhino: #434A54;
$orange: #FFA000;
$lilyWhite: #EDEFEE;
$linkWater: #CED4DA;
$lightBlue: #B9BDC3;
$patternBlue: #E7EAEB;
$darkGray: #A8A8A8;
$darkGrayBlue: #778192;
$raven: #656D78;
$pantone: #616770;
$aliceBlue: #F8F9FA;
$aliceBlueSilver: #F2F5F7;
$manatee: #969EA7;